<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>

    <link rel="stylesheet" href="../component/section3.css">

<!--  Font family  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--  Golos text  -->
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap" rel="stylesheet">
<!--  Inter  -->
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<!--  Mona Sans  -->
    <link href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
<!--  Chivo  -->
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>PDP Academy</title>
</head>
<body>

<div class="container-fluid backgroundColor">
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="img/pdpLogo.png" alt="PDP Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Online kurslar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Offline kurslar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">“Junior” loyihasi</a>
                    </li>
                </ul>
            </div>

            <button class="nav-button">
                <img src="img/Mask%20Group%20(11).png" alt="call icon" class="call-icon">
                <a href="tel:+998 (78) 777 47 47" class="nav-button-link">+998 (78) 777 47 47</a>
            </button>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="centerText"><p class="miniText1">Offline kurslar</p></div>
    <p class="centerTitle1">DASTURLASHNI PROFESSIONALLARDAN O'RGANING!</p>
    <p class="centerText2">"PDP Academy" — dasturlashning ko'p sonli yo'nalishlariga to'liq ixtisoslashgan, bugungacha
        10 000 dan ziyod o'quvchilariga ega bo'lgan ilm maskani</p>
    <div class="header-buttons">
        <button class="header-button1">
            <img src="img/Mask%20Group%20(12).png" alt="" class="header-button1-icon">
            <a href="#" class="header-button1-link">Bepul konsultatsiya olish</a>
        </button>
        <button class="header-button2">
            <img src="img/Mask%20Group%20(13).png" alt="" class="header-button2-icon">
            <a href="#" class="header-button2-link">Akademiya haqida</a>
        </button>
    </div>
    <!--<div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/brend/tengebank.268b724ac02b9c48da029d268e4a92de.svg.png" alt="brend" class="">
                <img src="img/brend/Clip%20path%20group.png" alt="brend" class="">
                <img src="img/brend/uzum.7b81142f704a12fa28e85ee25c804174.svg.png" alt="brend" class="">
                <img src="img/brend/click.0f81cde33fd0a3609742017e2a4a9393.svg.png" alt="brend" class="">
                <img src="img/brend/asaxiy.6c9a86b4f343f024faa592d35ab6a51f.svg.png" alt="brend" class="">
                <img src="img/brend/sqb.be55a26763b8a015da8c6a766ccb6ef1.svg.png" alt="brend" class="">
            </div>
            <div class="swiper-slide">
                <img src="img/brend/tengebank.268b724ac02b9c48da029d268e4a92de.svg.png" alt="brend" class="">
                <img src="img/brend/Clip%20path%20group.png" alt="brend" class="">
                <img src="img/brend/uzum.7b81142f704a12fa28e85ee25c804174.svg.png" alt="brend" class="">
                <img src="img/brend/click.0f81cde33fd0a3609742017e2a4a9393.svg.png" alt="brend" class="">
                <img src="img/brend/asaxiy.6c9a86b4f343f024faa592d35ab6a51f.svg.png" alt="brend" class="">
                <img src="img/brend/sqb.be55a26763b8a015da8c6a766ccb6ef1.svg.png" alt="brend" class="">
            </div>
        </div>
    </div>-->

    <div class="logo-carousel">
        <div class="carousel-track1">
            <img src="img/brend/kadastr.b65bb0650e928d3a894c14204ecbef52.svg.png" alt="brend" class="brend-img">
            <img src="img/brend/uzum.7b81142f704a12fa28e85ee25c804174.svg.png" alt="brend" class="brend-img">
            <img src="img/brend/click.0f81cde33fd0a3609742017e2a4a9393.svg.png" alt="brend" class="brend-img">
            <img src="img/brend/asaxiy.6c9a86b4f343f024faa592d35ab6a51f.svg.png" alt="brend" class="brend-img">
            <img src="img/brend/sqb.be55a26763b8a015da8c6a766ccb6ef1.svg.png" alt="brend" class="brend-img">

            <img src="img/brend/kadastr.b65bb0650e928d3a894c14204ecbef52.svg.png" alt="brend" class="brend-img">
            <img src="img/brend/uzum.7b81142f704a12fa28e85ee25c804174.svg.png" alt="brend" class="brend-img">
            <img src="img/brend/click.0f81cde33fd0a3609742017e2a4a9393.svg.png" alt="brend" class="brend-img">
            <img src="img/brend/asaxiy.6c9a86b4f343f024faa592d35ab6a51f.svg.png" alt="brend" class="brend-img">
            <img src="img/brend/sqb.be55a26763b8a015da8c6a766ccb6ef1.svg.png" alt="brend" class="brend-img">

            <img src="img/brend/kadastr.b65bb0650e928d3a894c14204ecbef52.svg.png" alt="brend" class="brend-img">
            <img src="img/brend/uzum.7b81142f704a12fa28e85ee25c804174.svg.png" alt="brend" class="brend-img">
            <img src="img/brend/click.0f81cde33fd0a3609742017e2a4a9393.svg.png" alt="brend" class="brend-img">
            <img src="img/brend/asaxiy.6c9a86b4f343f024faa592d35ab6a51f.svg.png" alt="brend" class="brend-img">
            <img src="img/brend/sqb.be55a26763b8a015da8c6a766ccb6ef1.svg.png" alt="brend" class="brend-img">
        </div>
    </div>
</div>

<div class="container-fluid section1">
    <div class="container paddingTB">
        <p class="s1-Title">Bizning kurslar</p>
        <p class="s1-Text">Bu ko’plab IT kompaniyalarni o’z ichiga oluvchi PDP Valley
            ekotizimini barpo etishdagi navbatdagi qadam.</p>
        <div class="cards">
            <div class="box">
                <p class="mode">Standart</p>
                <div class="mode-info">
                    <div class="first-info">
                        <p class="month">Davomiyligio</p>
                        <p class="number">10 oy</p>
                    </div>
                    <div class="col-line"></div>
                    <div class="second-info">
                        <p class="month">1 oylik dars soatlari</p>
                        <p class="number">36 soat</p>
                    </div>
                    <div class="col-line"></div>
                    <div class="second-info">
                        <p class="month">Online kursga chegirma</p>
                        <p class="number">50 %</p>
                    </div>
                </div>
                <div class="mini-box">
                    <p class="imkon">Imkoniyatlar</p>
                    <div class="line"></div>
                    <div class="icon-text">
                        <img src="img/Mask%20Group%20(14).png" alt="" class="icon">
                        <p class="Text">O’qish va ishdan ajralmagan holda kechki
                            vaqtlarda ta’lim oling</p>
                    </div>
                    <div class="icon-text">
                        <img src="img/Mask%20Group%20(15).png" alt="" class="icon">
                        <p class="Text">Online darslarning 1-modulini bepul ko’rish
                            imkoniyati</p>
                    </div>
                    <div class="icon-text">
                        <img src="img/Mask%20Group%20(16).png" alt="" class="icon">
                        <p class="Text">Jetbrains dasturlaridan bepul foydalanish
                            imkoniyati</p>
                    </div>
                </div>
                <button class="s1-button">
                    <a href="#" class="s1-button-link">Kursga yozilish</a>
                </button>
            </div>
            <div class="box">
                <p class="mode">Bootcamp</p>
                <div class="mode-info">
                    <div class="first-info">
                        <p class="month">Davomiyligi</p>
                        <p class="number">8 oy</p>
                    </div>
                    <div class="col-line"></div>
                    <div class="second-info">
                        <p class="month">1 oylik dars soatlari</p>
                        <p class="number">80 soat</p>
                    </div>
                    <div class="col-line"></div>
                    <div class="second-info">
                        <p class="month">Online kursga chegirma</p>
                        <p class="number">80 %</p>
                    </div>
                </div>
                <div class="mini-box">
                    <p class="imkon">Imkoniyatlar</p>
                    <div class="line"></div>
                    <div class="icon-text">
                        <img src="img/Mask%20Group%20(17).png" alt="" class="icon">
                        <p class="Text">Online darslarning 1-modulini bepul ko’rish
                            imkoniyati</p>
                    </div>
                    <div class="icon-text">
                        <img src="img/Mask%20Group%20(18).png" alt="" class="icon">
                        <p class="Text">Jetbrains dasturlaridan bepul foydalanish
                            imkoniyati</p>
                    </div>
                    <div class="icon-text">
                        <img src="img/Mask%20Group%20(14).png" alt="" class="icon">
                        <p class="Text">Har bir guruh uchun 2 tadan Ustoz</p>
                    </div>
                    <div class="icon-text">
                        <img src="img/Mask%20Group%20(19).png" alt="" class="icon">
                        <p class="Text">PDP’da 2 oy bepul stajirovka</p>
                    </div>
                </div>
                <button class="s1-button">
                    <a href="#" class="s1-button-link">Kursga yozilish</a>
                </button>
            </div>
        </div>
        <img src="img/Background%20(2).png" alt="404 error" class="circle-img">

    </div>
</div>

<div class="container section2">
    <div class="title-buttons">
        <div class="s2-titles">
            <p class="s2-mini-title">Kurslarimiz</p>
            <p class="s2-title">PDP ACADEMY kurslari bilan tanishing</p>
        </div>
        <div class="s2-buttons">
            <button class="s2-btn1">
                <a href="#" class="s2-btn1-link">Standart</a>
            </button>
            <button class="s2-btn2">
                <a href="#" class="s2-btn2-link">Bootcamp</a>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="s2-cards">
            <div class="s2-card">
                <div class="s2-icon-text">
                    <img src="img/java.png" alt="Icon" class="s2-icon">
                    <p class="s2-card-title">Java Backend</p>
                </div>
                <p class="s2-texts marginBottom90">Kurs davomida Java texnologiyalaridan foydalanilib,
                    ularning ko'p sintaksislarini o'ziga olgan va ulardagi
                    xatolik hamda kamchiliklarni bartaraf etgan,
                    shuningdek, qo'shimcha imkoniyatlarini o'zida jamlagan
                    obyektga yo'naltirilgan dasturlash ta'limoti beriladi.</p>

                <div class="s2-modul-info">
                    <div class="s2-title-number">
                        <p class="info-title">Kurs davomiyligi</p>
                        <p class="info-number">10 oy</p>
                    </div>
                    <div class="s2-line"></div>
                    <div class="s2-title-number">
                        <p class="info-title">Modullar soni</p>
                        <p class="info-number">10 ta modul</p>
                    </div>
                    <div class="s2-line"></div>
                    <div class="s2-title-number">
                        <p class="info-title">Video darslar soni</p>
                        <p class="info-number">120 ta dars</p>
                    </div>
                </div>

                <button class="s2-info-button">
                    <a href="#" class="s2-info-button-link">Kursga yozilish</a>
                </button>
            </div>
            <div class="s2-card">
                <div class="s2-icon-text">
                    <img src="img/python.png" alt="Icon" class="s2-icon">
                    <p class="text">Python</p>
                </div>
                <p class="s2-texts marginBottom75">Kurs davomida Python dasturlash tili, PostgreSQL
                    malumotlar bazasini boshqarish tizimi, Django
                    freymvorki, Django Rest Framework, FastAPI freymvorki
                    o'rgatiladi - Kursni bitirgach o'quvchilar vebsaytlarning,
                    mobil ilovalarning va desktop ilovalarning backend
                    qismini yoza oladilar.</p>

                <div class="s2-modul-info">
                    <div class="s2-title-number">
                        <p class="info-title">Kurs davomiyligi</p>
                        <p class="info-number">10 oy</p>
                    </div>
                    <div class="s2-line"></div>
                    <div class="">
                        <p class="info-title">Modullar soni</p>
                        <p class="info-number">10 ta modul</p>
                    </div>
                    <div class="s2-line"></div>
                    <div class="">
                        <p class="info-title">Video darslar soni</p>
                        <p class="info-number">120 ta dars</p>
                    </div>
                </div>

                <button class="s2-info-button">
                    <a href="#" class="s2-info-button-link">Kursga yozilish</a>
                </button>
            </div>
        </div>
        <div class="s2-cards card-margin-top">
            <div class="s2-card">
                <div class="s2-icon-text">
                    <img src="img/dotnet.png" alt="Icon" class="s2-icon">
                    <p class="s2-card-title">.NET</p>
                </div>
                <p class="s2-texts marginBottom75">.Net backend kursi davomida OOP ga asoslangan C#
                    dasturlash tilidan, ASP.NET Core frameworkidan
                    foydalangan holda MVC va Web APi dasturlar yaratishni
                    o'rganasiz. Shuningdek, PostgreSql Database sistemasi
                    va Data structure, Algoritmlar o'rgatiladi.</p>

                <div class="s2-modul-info">
                    <div class="s2-title-number">
                        <p class="info-title">Kurs davomiyligi</p>
                        <p class="info-number">10 oy</p>
                    </div>
                    <div class="s2-line"></div>
                    <div class="s2-title-number">
                        <p class="info-title">Modullar soni</p>
                        <p class="info-number">10 ta modul</p>
                    </div>
                    <div class="s2-line"></div>
                    <div class="s2-title-number">
                        <p class="info-title">Video darslar soni</p>
                        <p class="info-number">120 ta dars</p>
                    </div>
                </div>

                <button class="s2-info-button">
                    <a href="#" class="s2-info-button-link">Kursga yozilish</a>
                </button>
            </div>
            <div class="s2-card">
                <div class="s2-icon-text">
                    <img src="img/hmtlcss.png" alt="Icon" class="s2-icon">
                    <p class="text">Frontend Development</p>
                </div>
                <p class="s2-texts marginBottom90">Kurs davomida HTML, CSS, Bootstrap, SASS
                    texnologiyalaridan foydalangan holda barcha ko'ra
                    oladigan, ma'lumot almashuvchi vizual qismi va veb-
                    sahifalarni chizish ko'nikmalarini o'rganasiz.</p>

                <div class="s2-modul-info">
                    <div class="s2-title-number">
                        <p class="info-title">Kurs davomiyligi</p>
                        <p class="info-number">10 oy</p>
                    </div>
                    <div class="s2-line"></div>
                    <div class="">
                        <p class="info-title">Modullar soni</p>
                        <p class="info-number">10 ta modul</p>
                    </div>
                    <div class="s2-line"></div>
                    <div class="">
                        <p class="info-title">Video darslar soni</p>
                        <p class="info-number">120 ta dars</p>
                    </div>
                </div>

                <button class="s2-info-button">
                    <a href="#" class="s2-info-button-link">Kursga yozilish</a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid section3">
    <p class="s3-Title1">Student's Feedback</p>
    <p class="s3-Text">
        IT sohasiga kirish uchun eng yaxshi kurslar. Bir necha oy ichida siz noldan
        mutaxassis darajasiga yetishingiz, portfolio yig’ishingiz va karyerangizni
        boshlashingiz mumkin.
    </p>

    <div class="youtubeVideo">
        <img src="./img/Overlay.png" alt="icon" class="playVideo1">
        <img src="./img/fcbc32e1-d20d-4460-835c-fbab87b3fb87.png.png" alt="You tube video" class="video">
        <img src="./img/Overlay.png" alt="icon" class="playVideo2">
        <img src="./img/b0df5d11-087b-4a6f-a041-c03afb5c8feb.png.png" alt="You tube video" class="video">
        <img src="./img/Overlay.png" alt="icon" class="playVideo3">
        <img src="./img/4304bbb5-549c-40ea-93d4-f0df98982009.png.png" alt="You tube video" class="video">
    </div>

    <p class="s3-Title2">Afzalliklarimiz</p>

    <div class="logo-carousel">
        <div class="carousel-track">
            <div class="icon__Text">
                <img src="img/Background%20(3).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Kompyuter savodxonligi</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(4).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Qo’shimcha darslar</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(5).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Coworking 24/7</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(6).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Bepul WIFI</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(7).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Mentor</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(8).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">HR darslari</p>
            </div>

            <div class="icon__Text">
                <img src="img/Background%20(3).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Kompyuter savodxonligi</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(4).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Qo’shimcha darslar</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(5).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Coworking 24/7</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(6).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Bepul WIFI</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(7).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Mentor</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(8).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">HR darslari</p>
            </div>

            <div class="icon__Text">
                <img src="img/Background%20(3).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Kompyuter savodxonligi</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(4).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Qo’shimcha darslar</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(5).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Coworking 24/7</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(6).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Bepul WIFI</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(7).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">Mentor</p>
            </div>
            <div class="icon__Text">
                <img src="img/Background%20(8).png" alt="brend" class="s3-icon">
                <p class="s3-Text2">HR darslari</p>
            </div>
        </div>
    </div>

    <div class="practicum">
        <p class="practicum-title1">PDP Practicum</p>
        <p class="practicum-text1">
            2023-yilning avgust oyida "PDP Practicum" loyihasi tashkil etildi. U
            bitiruvchilariga qo'shimcha amaliyot taqdim etuvchi loyiha hisoblanadi.
        </p>
        <p class="practicum-title2">Loyiha maqsadi:</p>
        <p class="practicum-text2">"PDP Academy" bitiruvchilariga turli yo'nalishlardagi mutaxassislar bilan
            jamoaviy ishlash ko'nikmalarini shakllantirishda yordam berish va soha
            bo'yicha yetarlicha amaliy tajribaga ega bo'lgan mutaxassislarni tayyorlash.</p>

        <img src="./img/image%20(69).png" alt="" class="practice">
        <img src="./img/Border.png" alt="" class="green-circle">
        <img src="./img/Container.png" alt="" class="yellow-line">
        <img src="./img/talaba.63acab8f12766c274030.png.png" alt="" class="student">
    </div>

</div>

<div class="container mentors">
    <p class="m-title1">Bizning mentorlar</p>
    <p class="m-title2">Kuchli bilimlarga ega ustozlar</p>

    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="./img/mentor/Background+Border%20(2).png" alt="Logo 1"></div>
            <div class="swiper-slide"><img src="./img/mentor/Background+Border%20(3).png" alt="Logo 2"></div>
            <div class="swiper-slide"><img src="./img/mentor/Background+Border.png" alt="Logo 3"></div>
            <div class="swiper-slide"><img src="./img/mentor/Background+Border%20(1).png" alt="Logo 4"></div>

            <div class="swiper-slide"><img src="./img/mentor/Background+Border%20(2).png" alt="Logo 1"></div>
            <div class="swiper-slide"><img src="./img/mentor/Background+Border%20(3).png" alt="Logo 2"></div>
            <div class="swiper-slide"><img src="./img/mentor/Background+Border.png" alt="Logo 3"></div>
            <div class="swiper-slide"><img src="./img/mentor/Background+Border%20(1).png" alt="Logo 4"></div>
        </div>

    </div>
    <div class="swiper-button-next">→</div>
    <div class="swiper-button-prev">←</div>
</div>

<div class="container-fluid footer">
    <div class="container paddingY">
        <div class="footer-logo-links">
            <img src="./img/footer%20image/logo.e84aba9a5311ad12b26f240237513b5b.svg.png" alt="Logo" class="footer-logo">
            <div class="footer-links">
                <div class="f-link-box">
                    <a href="#">
                        <img src="./img/footer%20image/Mask%20Group%20(22).png" alt="" class="footer-link">
                    </a>
                </div>
                <div class="f-link-box">
                    <a href="#">
                        <img src="./img/footer%20image/Mask%20Group%20(23).png" alt="" class="footer-link">
                    </a>
                </div>
                <div class="f-link-box">
                    <a href="#">
                        <img src="./img/footer%20image/Mask%20Group%20(24).png" alt="" class="footer-link">
                    </a>
                </div>
                <div class="f-link-box">
                    <a href="#">
                        <img src="./img/footer%20image/Mask%20Group%20(25).png" alt="" class="footer-link">
                    </a>
                </div>

                <div class="footer-buttons">
                    <button class="f-btn">
                        <img src="./img/footer%20image/Mask%20Group%20(20).png" alt="icon" class="f-icon">
                        <a href="#" class="f-btn-link">PDP Aloqa Bot</a>
                    </button>
                    <button class="f-btn">
                        <img src="./img/footer%20image/Mask%20Group%20(21).png" alt="icon" class="f-icon">
                        <a href="#" class="f-btn-link">Kursga yozilish</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="f-line1"></div>

        <div class="f-pdp-links">
            <a href="#" class="f-pdp-link">PDP Academy</a>
            <a href="#" class="f-pdp-link">PDP Junior</a>
            <a href="#" class="f-pdp-link">PDP University</a>
            <a href="#" class="f-pdp-link">PDP School</a>
            <a href="#" class="f-pdp-link">PDP Online</a>
            <a href="#" class="f-pdp-link">PDP Unicorn</a>
            <a href="#" class="f-pdp-link">PDP College</a>
        </div>

        <div class="f-line2"></div>

        <div class="f-last">
            <p class="f-last-text1">©2023 PDP Academy</p>
            <p class="f-last-text2">Xizmatlar litsenziyalangan</p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="../bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const swiper = new Swiper('.swiper', {
            loop: true,
            autoplay: false,
            speed: 500,
            slidesPerView: 4,
            spaceBetween: 20,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });
</script>
</body>
</html>